.main {
    background: url("../Images/Main/photographer.jpg") no-repeat;
    background-size: cover;
    background-position-y: 59%;
    height: 100vh;
    background-attachment: fixed;
    width: 100%;
}

.intro-title {
    position: relative;
    top: 16%;
    font-size: 2.5rem;
    text-align: center;
    color: black;
    width: 750px;
    margin: 0 auto;
    z-index: 1;
}

.intro-title::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 15px;
    z-index: -1;
}

.second {
    background: url("../Images/Main/photographerhonthestreet.jpeg");
    background-size: cover;
    background-position-y: 67%;
    height: 100vh;
    background-attachment: fixed;
}

.description {
    position: relative;
    top: 32%;
    font-size: 1.9rem;
    text-align: center;
    color: black;
    width: 750px;
    margin: 0 auto;
    z-index: 1;
}

.description::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 15px;
    z-index: -1;
}

.navigation {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px;
}

.navigation-text {
    flex: 1;
    font-size: 1.56rem;
    padding-right: 25px;
    text-align: center;
    z-index: 1;
    position: relative;
    color: black;
    max-width: 35vw;
    left: 17vw;
}

.navigation-text, a {
    text-decoration: none;
    color: inherit;
}

.navigation-text::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 15px;
    z-index: -1;
    right: 20px;
}

.navigation-anchor {
    max-width: 30%;
    left: 30vw;
}

.navigation-image {
    flex: 1;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    right: 15vw;
    border: 5px solid rgba(255, 255, 255, 0.5);
    position: relative;
}

#gallery {
    background: url("../Images/Main/photographerhonthebeach.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 67%;
    height: 100vh;
}

#price {
    background: url("../Images/Main/photographerwithaglasses.jpg");
    background-size: cover;
    background-position-y: 67%;
    height: 100vh;
    background-attachment: fixed;
}

#reviews {
    background: url("../Images/Main/photographerwithclients.jpg");
    background-size: cover;
    background-position-y: 67%;
    height: 100vh;
    background-attachment: fixed;
}

#about {
    background: url("../Images/Main/photographerwithaclock.jpg");
    background-size: cover;
    background-position-y: 40%;
    height: 100vh;
    background-attachment: fixed;
}

.hidden {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

.navigation-image:hover {
    transform: scale(1.05);
    border-color: rgba(255, 255, 255, 0.753);
    transition: all 0.5s ease;
}

.button {
    width: 170px;
	height: 50px;
	background-color: rgba(168, 168, 168, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	border-radius: 10px;
    z-index: 2;
    font-size: 2rem;
    padding-bottom: 8px;
    margin: 1.5vh auto 0;
}

.bl {
    display: inline-block;
}

.button:hover {
    background-color: rgba(168, 168, 168, 0.5);
}

@media (max-width: 768px) {

    body{
        overflow-x: hidden;
    }
    
    .intro-title, .description {
        width: 80vw;
        font-size: 1.6rem;
    }
    .main, .second, #gallery, #price, #reviews, #about {
        background-attachment: scroll;
    }
    .arrow {
        display: none;
    }
    .navigation-text {
        max-width: 70vw;
        font-size: 1.2rem;
    }
    .hidden {
        opacity: 1;
        transform: translateX(0);
    }
    .navigation-image {
        flex: 1;
        object-fit: cover;
        max-width: 350%;
        height: auto;
        right: 65vw;
        border: 5px solid rgba(255, 255, 255, 0.5);
        position: relative;
    }
    .navigation-anchor {
        pointer-events: none;
    }
    .description {
        top: 20%;
    }
    .button {
        margin-left: 5vw;
    }
}