#main-reviews {
    background: url("../Images/Main/photographerwithclients.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 67%;
    height: 140vh;
}

.text-slider {
    top: 2vh;
    max-height: 90vh;
    width: 38vw;
    position: relative;
    overflow: hidden;
    margin: 0vh auto;
    z-index: 1;
}

.text-slider::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 15px;
    z-index: -1;
}

.reviews {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
    width: 100%;
}

.review {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.6rem;
}

.author {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
}

.media-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 60vh;
    width: 30vw;
    position: relative;
    overflow: hidden;
    margin: 2.61vh auto;
}

.media-slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 20%;
	border: 8px solid rgba(255, 255, 255, 0.753);
	border-image-slice: 1;
    z-index: 2;
    pointer-events: none;
    width: 100%;
	height:100%;
    overflow: hidden;
    margin: 0;
    padding:0;
	box-sizing: border-box;
}

.photos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease-in-out;
    box-sizing: border-box;
}

.photo {
    flex: 0 0 100%;
    height: auto;
    object-fit: cover;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.video {
    flex: 0 0 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.photo.active {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    z-index: 3;
    padding: 16% 0;
    text-shadow:    
       -2px -2px 5px white,
        2px -2px 5px white,
       -2px  2px 5px white,
        2px  2px 5px white;
}

.arrow:active {
    transform: translateY(-50%) scale(1.2);
}

.prev {
    left: 10px; 
    margin-left: -2px;
}

.next {
    right: 10px;
    margin-right: -2px;
}

.media-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    z-index: 3;
    padding: 100% 0;
    text-shadow:    
       -2px -2px 5px black,
        2px -2px 5px black,
       -2px  2px 5px black,
        2px  2px 5px black;
}

.media-arrow:active {
    transform: translateY(-50%) scale(1.2);
}

.media-arrow.prev {
    left: 10px;
}

.media-arrow.next {
    right: 10px;
}


#reviews-from-social {
    background: url("../Images/Reviews/social.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 67%;
    height: 100vh;
}

.social-reviews {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70vh;
    width: 31.4vw;
    position: relative;
    left: 65vw;
    top: -28vh;
    overflow-x: hidden;
    white-space: nowrap; /* Убираем перенос строк */
    transition: transform 0.5s ease, width 0.5s ease;
}

.social-review {
    border: 5px solid rgba(255, 255, 255, 0.911);
    height: 100%;
    width: auto;
    margin-right: -180px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out, margin 0.5s ease; /* Добавлено изменение margin-right */
}

.scroll-arrow {
    position: relative;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.9);
    user-select: none;
    left: 55.7vw; /* начальная позиция */
    top: 13vh;
    text-shadow:        
        -1px -1px 2px rgba(0, 0, 0, 0.5),
        1px -1px 2px rgba(0, 0, 0, 0.5),
        -1px  1px 2px rgba(0, 0, 0, 0.5),
        1px  1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, left 0.5s ease, opacity 0.5s ease; /* Добавлено изменение left */
    z-index: 5;
    display: inline-block;
    cursor: pointer;
}

#social-review-text {
    position: relative;
    font-size: 20px;
    width: 30%;
    left: 23vw;
    z-index: 1;
    top: 35vh;
    transition: all 0.5s ease;
}

#social-review-text::before {
    content: '';
    position: absolute;
    top: -15px;
    left: -20px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 15px;
    width: 32vw;
    height: 27vh;
    z-index: -1;
}